@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Manrope", sans-serif;
}

.menu li > *:not(ul, .menu-title, details, .btn).active {
    background-color:transparent;
    border-bottom: 3px solid #ff421c7b;
    border-radius: 0px;
    color:unset;
}
.menu li > *:not(ul, .menu-title, details, .btn).active:hover {
    background-color: #ffffff;
    border-bottom: 3px solid #ff421c7b;
    border-radius: 0px;
}
.menu li > *:not(ul, .menu-title, details, .btn):hover {
    background-color: #ffffff;
    border-bottom: 3px solid #ff421c7b;
    border-radius: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
    .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)) {
        padding-left: 8px;
        padding-right: 8px;
    }
}